<h3 class="text-center">{{ contact.first_name}} {{ contact.last_name}} </h3>
<div class="container">
    <div class="container">
        <form novalidate name="frm_contact_details" class="form-horizontal" ng-submit="update()">
            <div class="form-group" ng-class="validate(frm_contact_details.first_name)">
                <label class="col-sm-2 control-label">Name:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="first_name" ng-model="contact.first_name" ng-required="!schema.fields.first_name.blank"/>
                </div>
                <div class="col-sm-8" ng-show="frm_contact_details.$submitted || frm_contact_details.first_name.$touched">
                    <span>{{ frm_contact_details.first_name.$error.required && '* Required field' }}</span>
                </div>
            </div>
            <div class="form-group" ng-class="validate(frm_contact_details.last_name)">
                <label class="col-sm-2 control-label">Last name:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="last_name" ng-model="contact.last_name" ng-required="!schema.fields.last_name.blank"/>
                </div>
                <div class="col-sm-8" ng-show="frm_contact_details.$submitted || frm_contact_details.last_name.$touched">
                    <span>{{ frm_contact_details.last_name.$error.required && '* Required field' }}</span>
                </div>
            </div>
            <div class="form-group" ng-class="validate(frm_contact_details.email)">
                <label class="col-sm-2 control-label">Email:</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" name="email" ng-model="contact.email" placeholder="user@server" ng-required="!schema.fields.email.blank"/>
                </div>
                <div class="col-sm-8" ng-show="frm_contact_details.$submitted || frm_contact_details.email.$touched">
                    <span>{{ frm_contact_details.email.$error.required && '* Required field' }}</span>
                    <span>{{ frm_contact_details.email.$error.email && '* Must be a valid email' }}</span>
                </div>
            </div>
            <div class="form-group" ng-class="validate(frm_contact_details.cellphone_number)">
                <label class="col-sm-2 control-label">Cell phone:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="cellphone_number" ng-model="contact.cellphone_number" ng-pattern="/^\+\d{11}$/" ng-required="!schema.fields.cellphone_number.blank"/>
                </div>
                <div class="col-sm-8" ng-show="frm_contact_details.$submitted || frm_contact_details.cellphone_number.$touched">
                    <span>{{ frm_contact_details.cellphone_number.$error.required && '* Required field' }}</span>
                    <span>{{ frm_contact_details.cellphone_number.$error.pattern && '* Value must start with `+` and contain 11 numbers' }}</span>
                </div>
            </div>
            <div class="form-group" ng-class="validate(frm_contact_details.phone_number)">
                <label class="col-sm-2 control-label">Landline:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="phone_number" ng-model="contact.phone_number" ng-pattern="/^\+\d{11}$/" ng-required="!schema.fields.phone_number.blank"/>
                </div>
                <div class="col-sm-8" ng-show="frm_contact_details.$submitted || frm_contact_details.phone_number.$touched">
                    <span>{{ frm_contact_details.phone_number.$error.required && '* Required field' }}</span>
                    <span>{{ frm_contact_details.phone_number.$error.pattern && '* Value must start with `+` and contain 11 numbers' }}</span>
                </div>
            </div>
            <div class="form-group" ng-class="validate(frm_contact_details.birth_date)">
                <label class="col-sm-2 control-label">Birth date:</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" name="birth_date" ng-model="contact.birth_date" ng-pattern="/^(19|20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/" placeholder="yyyy-DD-MM" ng-required="!schema.fields.birth_date.blank"/>
                </div>
                <div class="col-sm-8" ng-show="frm_contact_details.$submitted || frm_contact_details.birth_date.$touched">
                    <span>{{ frm_contact_details.birth_date.$error.required && '* Required field' }}</span>
                    <span>{{ frm_contact_details.birth_date.$error.date && '* Must be a valid date' }}</span>
                </div>
            </div>
            <div class="form-group" ng-class="validate(frm_contact_details.jabber_id)">
                <label class="col-sm-2 control-label">JID:</label>
                <div class="col-sm-2">
                    <input type="email" class="form-control" name="jabber_id" ng-model="contact.jabber_id" placeholder="jid@server" ng-required="!schema.fields.jabber_id.blank"/>
                </div>
                <div class="col-sm-8" ng-show="frm_contact_details.$submitted || frm_contact_details.jabber_id.$touched">
                    <span>{{ frm_contact_details.jabber_id.$error.required && '* Required field' }}</span>
                    <span>{{ frm_contact_details.jabber_id.$error.email && '* Must be a valid JID' }}</span>
                </div>
            </div>
            <div class="col-sm-offset-2 col-sm-4">
                <button type="submit" class="btn btn-primary">Save</button>
                <span>{{ frm_contact_details.$invalid ? 'Has errors' : 'Ok to submit' }}</span>
            </div>
        </form>
    </div>
    <div class="container info">
        <div class="alert alert-success col-sm-offset-2 col-sm-4" ng-show="showSuccess" role="alert">
            <span>Saved successfully.</span>
            <button type="button" class="close" aria-label="Close" ng-click="showSuccess = undefined"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="alert alert-danger col-sm-offset-2 col-sm-4" ng-show="showError" role="alert">
            <span>Error saving contact...</span>
            <button type="button" class="close" aria-label="Close" ng-click="showError = undefined"><span aria-hidden="true">&times;</span></button>
        </div>
    </div>
    <a href="#/contacts">&lt; Back to all contacts</a>
</div>