<div class="container">
    <div class="element">
        <label>First name:</label>
        <label>{{ userdata.firstname }}</label>
    </div>
    <div class="element">
        <label>Last name:</label>
        <label>{{ userdata.lastname }}</label>
    </div>
    <div class="element">
        <label>Date of birth:</label>
        <label>{{ userdata.dateofbirth | date }}</label>
    </div>
    <div class="element">
        <label>Bio:</label>
        <label>{{ userdata.bio }}</label>
    </div>
    <div class="element">
        <label>Email:</label>
        <label>{{ userdata.email }}</label>
    </div>
    <div class="element">
        <label>Jabber:</label>
        <label>{{ userdata.jabber }}</label>
    </div>
    <div class="element">
        <label>Skype:</label>
        <label>{{ userdata.skype }}</label>
    </div>
    <div class="element">
        <label>Other:</label>
        <label>{{ userdata.other }}</label>
    </div>
</div>
