<div class="col-sm-4">
    <div class="element">
        <label>First name:</label>
        <span>{{ userdata.firstname }}</span>
    </div>
    <div class="element">
        <label>Last name:</label>
        <span>{{ userdata.lastname }}</span>
    </div>
    <div class="element">
        <label>Date of birth:</label>
        <span>{{ userdata.dateofbirth | date }}</span>
    </div>
    <div class="element">
        <label>Bio:</label>
        <span>{{ userdata.bio }}</span>
    </div>
</div>
<div class="col-sm-4">
    <div class="element" ng-repeat="contact in userdata.contacts">
        <label>{{ contact.caption }}:</label>
        <span>{{ contact.value }}</span>
    </div>
</div>
<div class="col-sm-4">
    <last-added count="3" model="contacts" template-url="static/partials/directives/lastAdded.html"></last-added>
</div>
