.page-header > h2 {
    display: inline-block;
}

.page-header * {
    padding-right: 20px;
}

.element > * {
    padding-bottom: 10px;
    width: 100px;
    display: table-cell;
}

h3 {
    font-style: italic;
}

.form-inline .form-group {
    display: block;
}

div.info {
    padding-top: 10px;
}