.panel {
    display: block;
}

.panel > h2 {
    display: inline-block;
}

.panel * {
    padding-right: 20px;
}

.container {
    width: 300px;
    float: left;
}

.element > label {
    padding-bottom: 10px;
    width: 100px;
    display: table-cell;
}